<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Reparaciones</title>

	<link rel="stylesheet" href="/css/reparacion.css">
</head>

<header>
{{>encabezado}}
</header>
<body>
	<h2>REPARACIONES</h2>
	<form acction="/Reparaciones/nuevaReparacion" method="post">
		
	
	
			<h2>Servicios</h2>
			<p>Elige el tipo de reparación que necesitas:</p>
			<ul>
					<button onclick="muestraRep('Cambio de Aceite',30)" data-="Cambio de Aceite">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/Cambio-de-aceite.jpg	" alt="Cambio de aceite" width="100" height="100">
						<p style="color:black">Cambio de aceite</p>
					</button>
					
					<button onclick="muestraRep('Reparacion de Frenos',120)" data-="Reparacion de Frenos">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/reparacion-frenos.jpg" alt="Reparación de frenos" width="100" height="100">
						<p style="color:black">Reparación de frenos</p>
					</button>
				
				
					<button onclick="muestraRep('Cambio de Neumaticos',100)" data-="Cambio de Neumaticos">
						 <img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/reparacion-neumaticos.jpg" alt="Cambio de neumáticos" width="100" height="100"> 
						<p style="color:black">Cambio de neumáticos</p>
					</button>
				
					<button onclick="muestraRep('Reparacion de Suspension',220)" data-="Reparacion de Suspension">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/reparacion-suspension.jpg" alt="Reparación de la suspensión" width="100" height="100">
						<p style="color:black">Reparación de la suspensión</p>
					</button>
					
				
					<button onclick="muestraRep('Reparacion de Motor',350)" data-="Reparacion de Motor"> 
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/reparacion-motor.jpg" alt="Reparación de motor" width="100" height="100">
						<p style="color:black">Reparación de motor</p>
					</button>
				
					<button onclick="muestraRep('Reparacion de Transmision',130)" data-="Reparacion de Transmision">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/reparacion-transmision.jpg" alt="Reparación de transmisión" width="100" height="100">
						<p style="color:black">Reparacion de transmisión</p>
					</button>
					<button onclick="muestraRep('Reparacion de Sistemas Electronicos',220)" data-="Reparacion de Sistemas Electronicos">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/TalleresMCQueen/src/main/resources/templates/reparaciones/imagenes/reparacion-electronica.jpg" alt="Reparación de sistemas electrónicos" width="100" height="100">
						<p style="color:black">Reparación de sistemas electrónicos</p>
					</button>
				</li>
			</ul>


			<textarea id="resultado" ></textarea>

	
		<script>
			function muestraRep(Rep, num) {
				var resultado = document.getElementById("resultado");
				var resultadoInput = document.getElementById("resultado-input");
				var numInput = document.getElementById("num-input");
				var boton = document.querySelector("button[data-='" + Rep + "']");
				if (boton.classList.contains("activo")) {
					boton.classList.remove("activo");
					resultado.value = resultado.value.replace(Rep + "\n", "");
				} else {
					boton.classList.add("activo");
					resultado.value +=  Rep + "\n";
				}
				resultadoInput.value = resultado.value;
				numInput.value = num;
				}
		</script>

	
		
		<input type="hidden" name="resultado" id="resultado-input">
		<input type="hidden" name="num" id="num-input">
		<input type="hidden" name="_csrf" value="{{token}}"/>
		
	</form>		
</body>
<footer>
{{>piedepagina}}
</footer>