{{>encabezado}}

<h1>Nueva Valoracion</h1>

    <a>Selecciona usuruaio:</a>
    <select name = 'usuario'>
        {{#usuario}}
        <option>{{nombre}} </option>
        {{/usuario}}
    </select>
    <form action="/Valoraciones/CrearValoracion/Exito" method="post">
	<p>Valoracion:</p>	
	<p><textarea name='texto' rows='10' cols='50' style="resize:none"></textarea></p>

    <p>Puntuación:</p>
    <select  name='puntuacion'>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
		<option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
    </select>

  

    <input type ='submit' value='Enviar'>
    

</form>
    
	

{{>piedepagina}}
