<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Valoraciones</title>

	<link rel="stylesheet" href="/css/valoracion.css">
</head>
<header>
	{{>encabezado}}
</header>
<body>
    <h1>Nueva Valoracion</h1>
    
    
    <form action="/valoraciones/crearvaloracion/exito" method="post">
       
        <div class="select-box">
            <label for="puntuacion">Puntuación:</label>
            <select name="puntuacion" id="puntuacion">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>
        <div class="textarea-box">
            <label for="texto">Valoración:</label>
            <textarea name="texto" id="texto" rows="10" cols="50" style="resize:none"></textarea>
        </div>
        <div class="button-box">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <input type="submit" value="Enviar">
        </div>
    </form>
    
	
    </body>
    <footer>
        {{>piedepagina}}
    </footer>
