<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Contactos</title>

	<link rel="stylesheet" href="/css/valoracion.css">
</head>
<header>
	{{>encabezado}}
</header>
<body>
	

	<h1>Valoraciones</h1>
	<ul class="items">
		{{#valoraciones}}
		<li>{{usuario}}: <p></p><span>Comentario:</span>{{texto}} --> <span>Puntuación:</span>[{{puntuacion}} puntos]</li>
		{{/valoraciones}}
	</ul>
	<p></p>
	<form action="/Valoraciones/CrearValoracion">
		<input type="submit" value="Crear Valoracion" />
	</form>
	<p></p>

	
</body>
<footer>
	{{>piedepagina}}
</footer>