{{>encabezado}}

		<h2>REPARACIONES</h2>
		<section id="servicios">
			<h2>Servicios</h2>
			<p>Elige el tipo de reparación que necesitas:</p>
			<ul>
				<li>
					<button type="button" data-reparacion="aceite">
						<img src="/src/main/resources/templates/reparaciones/imagenes/Cambio-de-aceite.jpg" alt="Cambio de aceite" width="100" height="100">
						<p>Cambio de aceite</p>
					</a>
				</li>
				<li>
					<button type="button" data-reparacion="frenos">
						<img src="/src/main/resources/templates/reparaciones/imagenes/reparacion-frenos.jpg" alt="Reparación de frenos" width="100" height="100">
						<p>Reparación de frenos</p>
					</a>
				</li>
				<li>
					<button type="button" data-reparacion="neumaticos">
						<img src="https://cdn.pixabay.com/photo/2023/02/28/12/18/12-18-27-249_1280.jpg" alt="Cambio de neumáticos" width="100" height="100">
						<p>Cambio de neumáticos</p>
					</a>
				</li>
				<li>
					<button type="button" data-reparacion="suspension">
						<img src="/src/main/resources/templates/reparaciones/imagenes/reparacion-suspension.jpg" alt="Reparación de la suspensión" width="100" height="100">
						<p>Reparación de la suspensión</p>
					</a>
				</li>
				<li>
					<button type="button" data-reparacion="motor">
						<img src="https://cdn.pixabay.com/photo/2023/02/28/12/18/12-18-27-234_1280.jpg" alt="Reparación de motor" width="100" height="100">
						<p>Reparación de motor</p>
					</a>
				</li>
				<li>
					<button type="button" data-reparacion="transmision">
						<img src="https://cdn.pixabay.com/photo/2023/02/28/12/18/12-18-32-21_150.jpg" alt="Reparación de transmisión" width="100" height="100">
						<p>Reparación de transmisión</p>
					</a>
				</li>
				<li>
					<button type="button" data-reparacion="electronica">
						<img src="/src/main/resources/templates/reparaciones/imagenes/reparacion-electronica.jpg" alt="Reparación de sistemas electrónicos" width="100" height="100">
						<p>Reparación de sistemas electrónicos</p>
					</a>
				</li>
			</ul>
		</section>
		<section id="seleccion">
			<h2>Reparaciones seleccionadas</h2>
			<ul id="lista-reparaciones"></ul>
			<button id="boton-inicio" disabled>Iniciar reparación</button>
		</section>
{{>piedepagina}}