{{>encabezado}}

		<h2>REPARACIONES</h2>
	<form acction="/Reparaciones/nuevaReparacion" method="post">
		<a>Selecciona usuario:</a>
		<select name="usuarioID" >
			{{#usuario}}
			<option value ="{{id}}">{{nombre}} </option>
			{{/usuario}}
		</select>
		
	
			<h2>Servicios</h2>
			<p>Elige el tipo de reparación que necesitas:</p>
			<ul>
					<button onclick="muestraRep('Aceite',15)" data-="Aceite">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/Cambio-de-aceite.jpg	" alt="Cambio de aceite" width="100" height="100">
						<p>Cambio de aceite</p>
					</button>
					
				
				
					<button onclick="muestraRep('Frenos',20)" data-="Frenos">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/reparacion-frenos.jpg" alt="Reparación de frenos" width="100" height="100">
						<p>Reparación de frenos</p>
					</button>
				
				
					<button onclick="muestraRep('Neumáticos',10)" data-="Neumáticos">
						 <img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/reparacion-neumaticos.jpg" alt="Cambio de neumáticos" width="100" height="100"> 
						<p>Cambio de neumáticos</p>
					</button>
				
					<button onclick="muestraRep('Suspensión',20)" data-="Suspensión">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/reparacion-suspension.jpg" alt="Reparación de la suspensión" width="100" height="100">
						<p>Reparación de la suspensión</p>
					</button>
					
				
					<button onclick="muestraRep('Motor',50)" data-="Motor"> 
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/reparacion-motor.jpg" alt="Reparación de motor" width="100" height="100">
						<p>Reparación de motor</p>
					</button>
				
					<button onclick="muestraRep('Transmisión',30)" data-="Transmisión">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/reparacion-transmision.jpg" alt="Reparación de transmisión" width="100" height="100">
						<p>Reparación de transmisión</p>
					</button>
					<button onclick="muestraRep('Sistemas Electrónicos',20)" data-="Sistemas electrónicos">
						<img src="https://raw.githubusercontent.com/DashShot/TalleresMcQueen/main/src/main/resources/templates/reparaciones/imagenes/reparacion-electronica.jpg" alt="Reparación de sistemas electrónicos" width="100" height="100">
						<p>Reparación de sistemas electrónicos</p>
					</button>
				</li>
			</ul>

			<h2>Reparaciones Selecionadas:</h2>
			<textarea id="resultado" rows="10"></textarea>

	
		<script>
			function muestraRep(Rep, num) {
				var resultado = document.getElementById("resultado");
				var resultadoInput = document.getElementById("resultado-input");
				var numInput = document.getElementById("num-input");
				var boton = document.querySelector("button[data-='" + Rep + "']");
				if (boton.classList.contains("activo")) {
					boton.classList.remove("activo");
					resultado.value = resultado.value.replace(Rep + "\n", "");
				} else {
					boton.classList.add("activo");
					resultado.value +=  Rep + "\n";
				}
				resultadoInput.value = resultado.value;
				numInput.value = num;
				}
		</script>

				
		<input type="hidden" name="resultado" id="resultado-input">
		<input type="hidden" name="num" id="num-input">
		 
		<input type="submit" value="iniciar reparacion">
	</form>	
{{>piedepagina}}