@charset "UTF-8";
/* Fuente y estilos generales */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, red,rgb(73, 17, 17),red); /* Aplica un degradado de arriba hacia abajo desde el rojo hasta el negro */
    margin: 0;
    padding: 0;
    position: relative; /* Permitir que la posición de la imagen se calcule en relación a este elemento */
  }
  
  form {
    display: inline-block;
    margin: 1em;
  }
  form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #666;
  }

  form {
    display: inline-block;
    margin: 1em;
  }

  h1 {
    
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    
  }

  
  li {
    display: inline-block;
    margin: 0 0.5em;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1em;
  }