<html>
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="/css/encabezado.css" />
</head>
<body>
    <header>
    <h1>Talleres McQueen</h1>
    <style>
        form{display: inline;}
    </style>

    <form action="/">
        <input type="submit" value="Inicio" />
    </form>

    <form action="/Contactos" method="get">
        <input type="submit" value="Acerca Nuestra" />
    </form>    
    
    <form action="/Valoraciones" method="get">
        <input type="submit" value="Valoraciones de Nuestros Clientes" />
    </form>
    
    <form action ="/Reparaciones" method="get">
        <input type="submit" value ="Realizar una Reparacion"/>
    </form>
    </header>
</body>
    
