<html>
<head>
    <meta charset = "UTF-8"
</head>
<body>
    <h1>TALLERES McQUEEN</h1>
    <style>
        form{display: inline;}
    </style>
    <form action="/">
        <input type="submit" value="Inicio" />
    </form>
    <form action="usuarios">
        <input type="submit" value="Usuarios" />
    </form>
    <form action="datos">
        <input type='text' name='texto' />
        <input type="submit" value="Datos De Contacto" />
    </form>    
    <form action="valoraciones">
        <input type='text' name='texto' />
        <input type="submit" value="Valoraciones de Usuarios" />
    </form> 
    <form action="reparacion">
        <input type='text' name='texto' />
        <input type="submit" value="Reparaciones" />
    </form>
    
    <form action="login">
        <input type="submit" value="Iniciar sesion" />
    </form>
    
    <form action="signup">
        <input type="submit" value="Registrarse" />
    </form>
    <form action="/logout" method="post">
        <input type="submit" value="Cerrar sesión" />
    </form>