{{>encabezado}}
<body>
    <section id="inicio">
        <h1>Bienvenido a nuestro taller de reparaciones</h1>
        <img src="/src/main/resources/static/Talleres Mc.Queen.jpg" alt="Reparaciones de vehículos">
        <p>Ofrecemos reparaciones de calidad para cualquier tipo de vehículo. Nuestro equipo de técnicos altamente capacitados está 			listo para ayudarte con cualquier problema que puedas tener con tu coche.</p>
        <button>Reparaciones en curso</button>
        <button>Nueva reparación</button>
    </section> 
</body>
{{>piedepagina}}