<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Talleres McQueen</title>
    <link rel="stylesheet" href="/css/logout.css" />
  </head>
  <body>
    <header>
        {{>encabezado}}
    </header>
	<h2>¿Quieres cerrar sesión?</h2>
	<form action="/logout" method="post">
        <li class="nav-item"><button class="nav-link fs-5" type="submit">SI</button></li>
		<input type="hidden" name="_csrf" value="{{token}}" />
	</form>
	<form action="/" method="get">
        <li class="nav-item"><button class="nav-link fs-5" type="submit">NO</button></li>
    </form>
	<br>
	
  </body>
  	<footer>
	{{>piedepagina}}
	</footer>	
</html>